

body{
  
    margin: 50px;
  }

h1 {
  font-size: 50px; 
  font-style: fantasy;  
  color: rgb(236, 14, 44);
  }  

h2 {
  font-size: 20px;
  color: blue;
}

h3 {
  margin: 25px 50px 75px 20px;
  font-size: 20px;
  color: rgb(0, 0, 8)
  
}
h4 {
  font-size: 20px;
  color: rgb(4, 168, 4);
  margin-top: -70px
}


